body {
    margin: 0;
}

.container {
    width: 962px;
    margin: 0 auto;
}

.footer {
    background: url(../../assets/img/top-bg.png) 0 0 repeat;
    border-top: 10px solid #ea5a4b;
    color: #adadad;
    font-size: 14px;
    font-weight: 700;
    font-family: "Bitter", serif;
    height: 100vh;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 29%;
    padding: 66px 24px 29px 14px;
}

.footer-title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.footer-recent__text {
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 16px;
}
.footer-recent__text:last-child {
    border-bottom: none;
}

.footer-recent__text--link {
    text-decoration: none;
    color: #adadad;
}

.social-media {
    padding-top: 13px;
}

.icon-rss, .icon-facebook, .icon-twitter, .icon-email, .icon-tumblr, .icon-pth, .icon-vimeo, .icon-zerply, .icon-picasa, .icon-stumble, .icon-skype, .icon-reddit, .icon-evernote, .icon-behance, .icon-dribble, .icon-digg, .icon-blogger, .icon-flickr, .icon-linkedin, .icon-google {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.icon-rss {
    background-image: url(../../assets/img/rss.png);
}

.icon-facebook {
    background-image: url(../../assets/img/facebook.png);
}

.icon-twitter {
    background-image: url(../../assets/img/twitter.png);
}

.icon-email {
    background-image: url(../../assets/img/email.png);
}

.icon-tumblr {
    background-image: url(../../assets/img/tumblr.png);
}

.icon-pth {
    background-image: url(../../assets/img/pth.png);
}

.icon-vimeo {
    background-image: url(../../assets/img/vimeo.png);
}

.icon-zerply {
    background-image: url(../../assets/img/zerply.png);
}

.icon-picasa {
    background-image: url(../../assets/img/picasa.png);
}

.icon-stumble {
    background-image: url(../../assets/img/stumble.png);
}

.icon-skype {
    background-image: url(../../assets/img/skype.png);
}

.icon-reddit {
    background-image: url(../../assets/img/reddit.png);
}

.icon-evernote {
    background-image: url(../../assets/img/evernote.png);
}

.icon-behance {
    background-image: url(../../assets/img/behance.png);
}

.icon-dribble {
    background-image: url(../../assets/img/dribble.png);
}

.icon-digg {
    background-image: url(../../assets/img/digg.png);
}

.icon-blogger {
    background-image: url(../../assets/img/blogger.png);
}

.icon-flickr {
    background-image: url(../../assets/img/flickr.png);
}

.icon-linkedin {
    background-image: url(../../assets/img/linkedin.png);
}

.icon-google {
    background-image: url(../../assets/img/google.png);
}


