body {
    margin: 0;
}

.container {
    width: 962px;
    margin: 0 auto;
}

.main-pic {
    background: url(../../assets/img/main-pic.jpg) 0 0 no-repeat;
    background-size: cover;
    border-bottom: 5px solid #f2f2f2;
    height: 325px;
}

.main-pic-info {
    display: inline-block;
    margin-top: 255px;
    height: auto;
    width: 100%;
    background-color: #e4593a;
    color: #fff;
}

.main-pic-info h4 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    border-right: 1px solid #fff;
    padding: 0 5px 0 0;
}

.main-pic-info span {
    font-size: 14px;
    padding-left: 7px;
}

.main-info-1 {
    margin-top: 30px;
    border-bottom: 2px solid #ececec;
    padding-bottom: 50px;
}

.main-info-1 h4, .main-info-2 h4 {
    text-transform: uppercase;
    color: #272630;
    font-size: 14px;
}

.main-info-1 h4 span, .main-info-2 h4 span {
    text-decoration: none;
    color: #f26c4f;
    padding-left: 5px;
}

.main-info-1 img {
    float: right;
    margin-left: 15px;
    border: 10px solid #f2f2f2;
}

.main-info-1 p, .main-info-2 p, .main-info-3 p {
    font-size: 15px;
    color: #737373;
    line-height: 25px;
}

.main-info-2 {
    margin-top: 50px;
}

.main-info-2 img, .main-info-3 img {
    float: left;
    margin-right: 20px;
    border: 10px solid #f2f2f2;
}

.main-info-3 {
    margin-top: 20px;
}