.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.nav {
    background-color: #343434;
    padding: 15px 0;
}

.logo {
    float:left;
    margin-left: 70px;
}

.nav-menu {
    margin: 0 60px 0;
    padding: 15px 0 0 0;
    list-style: none;
    text-align: right;
}

.nav-item {
    display: inline-block;
    margin: 0 40px 0 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}