body {
    margin: 0;
}

.container {
    width: 962px;
    margin: 0 auto;
}

.about-us {
    padding-top: 40px;
    text-align: center;
}

.about-us p {
    font-size: 36px;
    font-weight: bold;
    color: #424242;
}

.about-us span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #424242;
}

.facebook {
    background: url(../../assets/img/ic-hand.png) no-repeat;
}

.landing {
    background: url(../../assets/img/ic-book.png) no-repeat;
}

.ads {
    background: url(../../assets/img/ic-comment.png) no-repeat;
}

.items {
    margin-bottom: 100px;
}
.items p {
    width: 250px;
    display: block;
    font-size: 13px;
    color: #5b5b5b;
}

.item {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 251px;
    margin-left: 32px;
    padding: 0 15px;
}
.item h4 span {
    text-decoration: none;
    background-position: 50% 0;
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #424242;
    padding-top: 84px;
}